@import '../../assets/styles/colors.scss';

h1 {
	text-align: center;
	margin: 10px auto;
    padding: 40px;
    line-height: 40px;
    width: 400px;
    background: $grey-dark;
    font-weight: 700;

    &.player-A{
        color: $white;
        background: $grey-dark;
    }
    &.player-B{
        color: $red;
    }
}
