@import '../../assets/styles/colors.scss';

.square{
  width: 50px;
  height: 50px;
  border: none;
  background: $white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus{
    outline: none;
  }
  &.dark{
    background: $green;
  }
  &.highlight{
    background: $green-dark;
    cursor: pointer;
  }
  .piece{
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    line-height: 30px;
    font-size: 32px;
    text-align: center;
  }
  &.player-A .piece{
    background: $white;
    color: $purple;
  }
  &.player-B .piece{
    background: $red;
    color: $yellow;
  }
}
.player-A .square.player-A, .player-B .square.player-B {
  cursor: pointer;
}
.player-A .square.player-A.mustjump, .player-B .square.player-B.mustjump{
  border: 3px solid $blue;
}

.square{
    &.selected, &.player-A.mustjump.selected, &.player-B.mustjump.selected{
        border: 3px solid $orange;
    }
}
