@import 'assets/styles/reset.scss';
@import 'assets/styles/colors.scss';

body {
	background: $grey;
    color: $white;
	font-family: Arial;
	font-size: 21px;
    min-width: 500px;
}

.links {
    width: 400px;
    margin: 40px auto 20px;
    background: $grey-dark;
    text-align: center;
    padding: 20px 40px;

    a {
        color: $white;
        text-decoration: none;
        padding: 20px 10px;

        &:hover {
            color: lighten($white, 100);
        }
    }
}
